
.BaseHome{
    width: 100%;
    background-color: white;
    

}
.Home1{
    display:flex;
    justify-content: space-evenly;
    margin-top: 4rem;


}
.Home2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    
}